# Questions 

1. Load in the dataset (`starbucks_drinkMenu_expanded.csv`), calling it `drinks_content`, and then briefly explore it, printing out: first 5 rows, last 5 rows, and then all of the data. Find out the dimensions of the data (number of rows and columns) and the column names.

2. We're going to be looking at the number of `Calories` in each drink.
Calculate some quick summary statistics (e.g. the mean, the maximum and minimum). 

3. Select the variables `Beverage_category`, `Beverage`, `Beverage prep` and `Calories` from the `drinks_content` data frame, and assign the selected columns to a new data frame called `drinks`. Check if there are any missing  values anywhere in the data, and drop any rows containing them if there are.

4. In your `drinks` dataframe create a new variable (column) called `calorie_diff`, which stores the difference between 135 calories (135 calories = 10 cubes of sugar!) and the calories in each drink. (Hint: you’ll want to subtract the calories from 135 to see which drink have more or less than 10 cups of sugar).

5. Summarise the mean number of calories in each beverage category.

6. **Harder** - Which `Beverage_prep` type contains more than the average calories of all drinks?
(Hint: to answer this, you’ll have to first figure out what the average calories across all drinks are, and then use that as a filter for the grouped Beverage_prep data).

7. **Harder**  - Which is the best type of **coffee drink** to get if you’re worried about consuming too many calories?  (Hint: you can use pd.unique() on a column to get all unique values/levels of that column! Also remember that you can use isin() to subset with a list)

8. Filter the dataset drinks so we only take "Classic Espresso Drinks", and save this in a new data frame called `espresso_drinks`.

9. Group your `espresso_drinks` data frame by the type of `Beverage prep`, and then find out the mean calories for each drink group.

10. Get the same grouped mean `Calories` values as above, but this time sorted in descending order. (Hint: so you're able to sort the resulting groupby by the 'Calories' column you will want to ensure you get back a dataframe and not a series)

# Extension

Now, play around with the data yourself. Is there anything in the data? Any interesting plots you can make?

In [1]:
import pandas as pd

In [2]:
## 1

drinks_content = pd.read_csv("data/starbucks_drinkMenu_expanded.csv")

In [20]:
## 2

drinks_content.head()

drinks_content.columns

drinks_content.describe(include = "all")

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
count,242,242,242,242.000000,242,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242,242,242,242,241
unique,9,33,13,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,10,14,18,36
top,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte),Soymilk,NaN,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10%,0%,10%,0%,75
freq,58,12,66,NaN,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43,188,51,99,37
mean,NaN,NaN,NaN,193.871901,NaN,1.307025,0.037603,6.363636,128.884298,35.991736,0.805785,32.962810,6.978512,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,102.863303,NaN,1.640259,0.071377,8.630257,82.303223,20.795186,1.445944,19.730199,4.871659,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,120.000000,NaN,0.100000,0.000000,0.000000,70.000000,21.000000,0.000000,18.000000,3.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,185.000000,NaN,0.500000,0.000000,5.000000,125.000000,34.000000,0.000000,32.000000,6.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,260.000000,NaN,2.000000,0.100000,10.000000,170.000000,50.750000,1.000000,43.750000,10.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,510.000000,NaN,9.000000,0.300000,40.000000,340.000000,90.000000,8.000000,84.000000,20.000000,NaN,NaN,NaN,NaN,NaN

In [13]:
## 3

drinks = drinks_content.loc[:, ["Beverage_category", "Beverage", "Beverage_prep", "Calories"]].copy()

In [14]:
drinks.head()

         Beverage_category       Beverage      Beverage_prep  Calories
0                   Coffee  Brewed Coffee              Short         3
1                   Coffee  Brewed Coffee               Tall         4
2                   Coffee  Brewed Coffee             Grande         5
3                   Coffee  Brewed Coffee              Venti         5
4  Classic Espresso Drinks    Caffè Latte  Short Nonfat Milk        70

In [22]:
## 4

drinks["calorie_diff"] = drinks["Calories"] - 135

,Beverage_category,Beverage,Beverage_prep,Calories,calorie_diff
0,Coffee,Brewed Coffee,Short,3,-132
1,Coffee,Brewed Coffee,Tall,4,-131
2,Coffee,Brewed Coffee,Grande,5,-130
3,Coffee,Brewed Coffee,Venti,5,-130
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,-65

In [23]:
## 5

drinks.groupby("Beverage_category")["calorie_diff"].mean()

# Seems like Smoothies, closely followed by Blended Frappucinos have the most calories, equivalent to 20 cubes of sugar. Coffee drinsk have the least.

Beverage_category
Classic Espresso Drinks                5.172414
Coffee                              -130.750000
Frappuccino® Blended Coffee          141.944444
Frappuccino® Blended Crème            98.076923
Frappuccino® Light Blended Coffee     27.500000
Shaken Iced Beverages                -20.555556
Signature Espresso Drinks            115.000000
Smoothies                            147.222222
Tazo® Tea Drinks                      42.307692
Name: calorie_diff, dtype: float64

In [34]:
## 6

avg_all_drinks = drinks["Calories"].mean()

drinks_bev_prep_avg = drinks.groupby("Beverage_prep")["Calories"].mean()

drinks_bev_prep_avg[drinks_bev_prep_avg > avg_all_drinks]

Beverage_prep
2% Milk               218.000000
Grande Nonfat Milk    209.615385
Soymilk               207.272727
Venti Nonfat Milk     260.000000
Whole Milk            283.750000
Name: Calories, dtype: float64